/*! imports */
@font-face {
    font-family: 'Cairo';
    src: url('../assets/font/Cairo-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Amiri';
    src: url('../assets/font/Cairo-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}
/*! reset  */
*{
    margin: 0;   
    padding: 0;
    box-sizing: border-box;
   }
   img{
       max-width: 100%;
   }
   a{
       text-decoration: none;
   }
   ul{
       list-style: none;
   }
   /*!global  */
   html, body {
    overflow-x: hidden;
}
   body{
    font-family: 'Amiri';
    font-weight: 700;
    font-size: 20px;
    /* background-color: #E2FAFC; */
    background-color: #E3F2FD;
}
:root {
    --white: rgb(255, 255, 255);
    --links: rgb(5, 38, 57);
    --links-hover: rgb(137, 153, 162);
    --button-color: rgb(231, 202, 113);
    --bg-section: rgb(48, 112, 133);
    --bg-section-visit-loaction: rgb(244, 246, 243);
    --footer: rgb(38, 105, 128);
}
.active{
    color: var(--button-color)!important;
}
/*? navbar */
.navbar {
    background-color: transparent !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.4s ease-in-out;
}
.navbar.scrolled {
    background-color: var(--white) !important;
}

.navbar-nav .nav-item .nav-link,
.d-flex .btn {
    color: var(--links) !important;
}

.navbar-nav .nav-item .nav-link:hover {
    color: var(--links-hover) !important;
}

.d-flex .btn {
    width: 8em;
    background-color: var(--button-color);
    color: var(--links) !important;
    font-size: 23px;
    border: 0px solid black;
}

.d-flex .btn:hover {
    opacity: 0.5;
}
/*? our story  */
.our-story{
    margin-top: 6em;
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
.our-story div{
    width: 40%;
    align-self: center;
}
.our-story div p{
    line-height:2.5;
}
.our-story figure{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

}
.our-story figure img{
    height: 17em;
    width: 35%;
}
/*?our doctor  */
.card{
   width: 90%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   padding: 4em;
   margin: 4em auto;
   border-radius: 0 9em 9em 0;
}
.circle2 img{
    order: 3;
}
.circle2 .mid-div{
    order: 2;
}
.circle2 .l-circle{
    order: 1;
}
div.circle2{
    border-radius: 9em 0 0 9em ;
}
.card img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
.card-content{
    width: 50%;
}
.card-content p{
    width: 81%;
    line-height: 2.5;
}
.circle{
    background-color: rgb(108, 96, 151);
    text-align: center;
    line-height: 5;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
}
/*? emergency */
.emergency{
    text-align: center;
    background-color: var(--button-color);
    color: var(--links);
    padding: 4em;
    line-height: 1.6;
}
.emergency img{
    width: 5em;
    height: 5em;
    margin-bottom: 20px;
}
.emergency p a{
    color: var(--links);
}
.emergency p a span:hover{
    color:white;
}
/*? visit us */
.visitUs {
    padding: 50px 0px;
    margin-top: 6em;
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color: var(--bg-section-visit-loaction);

}

.visitUs div {
    margin-top: 5em;
    color: var(--links);
    width: 40%;
    line-height: 1.6;
}

.visitUs div h2 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 40px;
}

.visitUs div .fsp {
    margin-bottom: 20px;
}

.visitUs div .scp,
.visitUs div .thp {
    display: flex;
    align-items: center;
    gap: 20px;
}

.visitUs a {
    color: var(--links);
}

.visitUs a:hover {
    color: var(--links-hover);
}

.visitUs .thp {
    margin-top: 20px;
}

.visitUs figure img {
    border-top-right-radius: 40px;
    width: 90%;
}
/*? location  */
.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 5em 0px;
}

.map {
    box-shadow: 5px 5px 10px #28211d;
}
/*? first footer */
footer a {
    color: #e5b59c;
}

footer {
    background: url(../assets/Images/bg-header-desktop.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    line-height: 2;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-gap: 15px;
    background-color: var(--bg-section);
    padding: 20px;
    color: var(--links);
}

footer article {
    padding: 40px;
}

.firstFooter img {
    width: 150px;
}

.firstFooter p,
.firstFooter a {
    font-size: 15px;
    color: var(--links);
}

.firstFooter .day {
    display: flex;
    flex-direction: column;
}

.firstFooter .day span {
    font-size: 32px;
    font-weight: 700;
}
/*? scfooter  */
footer .scFooter h4,
footer .foFooter h4 {
    font-size: 32px;
    font-weight: 700;
}

footer .scFooter .practice li a {
    font-size: 15px;
    transition: transform 0.4s ease-in-out;
    display: inline-block;
    color: var(--links);
}

footer .scFooter .practice li a:hover {
    color: var(--button-color);
    transform: scale(0.9);
}

.practice li::before {
    content: "- ";
    color: var(--links-hover);
}
/*? fofooter  */
.socialLinks2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    margin-top: 20px;
}

.socialLinks2 i {
    border: 1.5px solid var(--links);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1px;
    height: 1px;
    border-radius: 100%;
    padding: 13px;
    color: var(--links);
}

.socialLinks2 i:hover {
    background-color: var(--button-color);
    color: var(--links);
}
/*? endFooter  */
.endFooter {
    margin-top: 70px;
    font-size: 15px;
}